default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    suites:
        secretsanta:
            paths:    [ "%paths.base%/src/Features" ]
            contexts:
                   - Behat\MinkExtension\Context\MinkContext
                   - App\Features\Context\FeatureContext
                   - App\Features\Context\EmailContext
                   - App\Features\Context\Bootstrap\PartyContext
                   - App\Features\Context\Bootstrap\LanguageContext
                   - App\Features\Context\Bootstrap\CommonPartyManagementContext
                   - App\Features\Context\Bootstrap\ParticipantContext
                   - App\Features\Context\Bootstrap\UnstartedPartyManagementContext
                   - App\Features\Context\Bootstrap\StartedPartyManagementContext
                   - App\Features\Context\Bootstrap\ReportContext
                   - App\Features\Context\Bootstrap\ResendPartyInfoContext
                   - App\Features\Context\Bootstrap\ReusePartyLinkContext
                   - App\Features\Context\Bootstrap\UnsubscribeContext

    extensions:
        Behat\MinkExtension:
            base_url: 'http://dev.secretsantaorganizer.com/app_test.php/'
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony2: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ''
                            chrome:
                                switches:
                                    - 'start-fullscreen'
                                    - 'start-maximized'
                                    - 'no-sandbox'
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        Behat\Symfony2Extension:
            kernel:
                bootstrap: vendor/autoload.php
                env: test
                debug: false

        Lakion\Behat\MinkDebugExtension:
            directory: .travis/build
            clean_start: false
            screenshot: false
